extends ./layout/index

block slider 
    .slider 
        h1 Rio de Janeiro 
        em aventura

block contenido
    main.container.mt-5 
        h2.text-center.mb-5 Sobre Nosotros
        .row.mb-5 
            .col-md-6
                p Lorem ipsum dolor sit amet consectetur adipisicing elit. Esse omnis numquam fugit natus a quidem iste sunt vero, consequuntur maiores sint maxime beatae, porro eaque quam ipsa impedit laudantium. Minima? 
                p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptas optio rerum minima repellendus architecto voluptates laborum nostrum, vero rem quos quo commodi ducimus perspiciatis? Dolores accusamus rem voluptatum error veritatis.
            .col-md-6
                img(src="/img/inicio_nosotros.jpg", alt="imagen nosotros", class="img-fluid")

        h2.text-center.mb-5 Destinos
        .row.mb-5 
            if(viajes)
                include ./layout/bloque_viajes.pug

    .descuento  
        .container 
            .row 
                .col-md-6 
                    .contenido 
                        h3 5% de Descuento 
                        p.titulo Viaje a Canada
                        p.fecha 20 de marzo de 2022 - 30 de marzo de 2022
                        p.precio $5000 USD 
    .container
        h2.mt-5.text-center Testimoniales
        .row.mb-5 
            include ./layout/bloque_testimoniales.pug


