extends ./layout/index

block contenido
    main.container.mt-5 
        h1.text-center.mt-5= pagina

        blockquote.text-center Lee sobre nuestros clientes y sus experiencias 
        .row.testimoniales
            include ./layout/bloque_testimoniales.pug

        .row 
            .col-md-12
                h2.d-block.w-100.text-center.mb-4 Agrega un Testimonial 

                if(errores)
                    each error in errores
                        div.alert.alert-danger= error.mensaje

            .row.justify-content-center.col 
                .col-md-8 
                    form(action="/testimoniales", method="POST")
                        .form-group 
                            label(for="nombre") Nombre
                            input(type="text", id="nombre", name="nombre", class="form-control", placeholder="Tu Nombre", value= nombre)
                        .form-group 
                            label(for="email") Email
                            input(type="email", id="email", name="email", class="form-control", placeholder="Tu Email", value= email)
                        .form-group 
                            label(for="mensaje") Mensaje
                            textarea(name="mensaje", id="mensaje", cols="30", rows="5", class="form-control", placeholder="Tu Mensaje")= mensaje
                        .form-group 
                            input(type="submit", value="Enviar", class="btn btn-success btn-block")